*{
    font-family: Roboto;
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    padding: 10px 100px 10px;
    gap: 50px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #1F2937;
    color: white;
    height: 50px;
}

img{
    height: 500px;
    width: 500px;
    object-fit:cover;
}

ul {
    list-style-type: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    border: 1px solid white;
    background-color: #3882f6;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 20px;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
}

button:hover,
button:focus {
    background: #0053ba;
}


.menu{
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 24px;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.main{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0;

}

.main>div{
    max-width: 500px;
}
.header_pic{
    width: 400px;
    height: 250px;
}

.dogs{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border:#3882f6 solid 5px;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 100px;
    justify-content: space-evenly;
    height: 400px;
}

.dog_container{
    display: flex;
    flex-direction: column;
}
.dog_box{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.dog_text{
    padding: 0px 0px;
    width: 170px;
    text-align: center;
    align-self: center;
}

.quotes{
    height:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 150px 550px;
    font: 36px lighter ;
    font-style: italic;
    color: #1f2937;
}

.quotes>p{
    display: flex;
    flex-direction: row-reverse;
    font-size: 24px;
}

.call{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #3882f6;
    margin: 50px 150px;
    padding: 50px 20px;
    color: white;
    border-radius: 10px;
}

.call>button{
    font-weight: bold;
}

.action{
    font-weight: bold;
    font-size: 18px;
}